<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiedang.www.mapper.ProblemMapper">
    <resultMap id="BaseResultMap" type="com.xiedang.www.model.Problem">
        <!--
        @mbggenerated
        -->
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="p_no" jdbcType="VARCHAR" property="pNo" />
        <result column="p_title" jdbcType="VARCHAR" property="pTitle" />
        <result column="p_type" jdbcType="VARCHAR" property="pType" />
        <result column="p_type_code" jdbcType="INTEGER" property="pTypeCode" />
        <result column="p_find_time" jdbcType="DATE" property="pFindTime" />
        <result column="p_person" jdbcType="VARCHAR" property="pPerson" />
        <result column="p_responsible" jdbcType="VARCHAR" property="pResponsible" />
        <result column="p_plan_time" jdbcType="DATE" property="pPlanTime" />
        <result column="p_describe" jdbcType="VARCHAR" property="pDescribe" />
        <result column="p_remark" jdbcType="VARCHAR" property="pRemark" />
        <result column="p_status" jdbcType="VARCHAR" property="pStatus" />
        <result column="p_delete_status" jdbcType="INTEGER" property="pDeleteStatus" />
    </resultMap>
    <resultMap extends="BaseResultMap" id="BaseResultMapBo" type="com.xiedang.www.bo.ProblemBo">

    </resultMap>
    <sql id="Base_Column_List">
        <!--
        @mbggenerated
        -->
        id, p_no, p_title, p_type, p_type_code, p_find_time, p_person, p_responsible, p_plan_time, 
        p_describe, p_remark, p_status, p_delete_status
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMapBo">
        <!--
        @mbggenerated
        -->
        select 
        <include refid="Base_Column_List" />
        from problem
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectAllByPage" parameterType="java.util.Map" resultMap="BaseResultMapBo">
        select
        <include refid="Base_Column_List"/>
        from problem
        where p_delete_status = 1
        limit #{start,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
    </select>
    <select id="selectProblem" parameterType="com.xiedang.www.vo.ProblemVo" resultMap="BaseResultMapBo">
        select
        <include refid="Base_Column_List"/>
        from problem
        where p_delete_status = 1
        <if test="pNo != null and pNo != ''">
            and p_no = #{pNo,jdbcType=VARCHAR}
        </if>
        <if test="pTitle != null and pTitle != ''">
            and p_title like concat('%',#{pTitle},'%')
        </if>
        <if test="pType != null and pType != ''">
            and p_type = #{pType,jdbcType=VARCHAR}
        </if>
        <if test="pFindTime != null and pFindTime != ''">
            and p_find_time = #{pFindTime,jdbcType=DATE}
        </if>
        <if test="pPerson != null and pPerson != ''">
            and p_person = #{pPerson,jdbcType=VARCHAR}
        </if>
        <if test="pResponsible != null and pResponsible != ''">
            and p_responsible = #{pResponsible,jdbcType=VARCHAR}
        </if>
        <if test="pPlanTime != null and pPlanTime != ''">
            and p_plan_time = #{pPlanTime,jdbcType=DATE}
        </if>
        <if test="pStatus != null and pStatus != ''">
            and p_status = #{pStatus,jdbcType=VARCHAR}
        </if>
    </select>
    <update id="deleteByPrimaryKey" parameterType="java.lang.String">
        <!--
        @mbggenerated
        -->
        update problem
        set p_delete_status = 2
        where id in
        <foreach collection="array" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>
    <insert id="insert" parameterType="com.xiedang.www.model.Problem">
        <!--
        @mbggenerated
        -->
        insert into problem (id, p_no, p_title, 
            p_type, p_type_code, p_find_time, 
            p_person, p_responsible, p_plan_time, 
            p_describe, p_remark, p_status, 
            p_delete_status)
        values (#{id,jdbcType=INTEGER}, #{pNo,jdbcType=INTEGER}, #{pTitle,jdbcType=VARCHAR}, 
            #{pType,jdbcType=VARCHAR}, #{pTypeCode,jdbcType=INTEGER}, #{pFindTime,jdbcType=DATE}, 
            #{pPerson,jdbcType=VARCHAR}, #{pResponsible,jdbcType=VARCHAR}, #{pPlanTime,jdbcType=DATE}, 
            #{pDescribe,jdbcType=VARCHAR}, #{pRemark,jdbcType=VARCHAR}, #{pStatus,jdbcType=VARCHAR}, 
            #{pDeleteStatus,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.xiedang.www.vo.ProblemVo">
        <!--
        @mbggenerated
        -->
        insert into problem
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="pNo != null">
                p_no,
            </if>
            <if test="pTitle != null">
                p_title,
            </if>
            <if test="pType != null">
                p_type,
            </if>
            <if test="pTypeCode != null">
                p_type_code,
            </if>
            <if test="pFindTime != null">
                p_find_time,
            </if>
            <if test="pPerson != null">
                p_person,
            </if>
            <if test="pResponsible != null">
                p_responsible,
            </if>
            <if test="pPlanTime != null">
                p_plan_time,
            </if>
            <if test="pDescribe != null">
                p_describe,
            </if>
            <if test="pRemark != null">
                p_remark,
            </if>
            <if test="pStatus != null">
                p_status,
            </if>
            <if test="pDeleteStatus != null">
                p_delete_status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="pNo != null">
                #{pNo,jdbcType=VARCHAR},
            </if>
            <if test="pTitle != null">
                #{pTitle,jdbcType=VARCHAR},
            </if>
            <if test="pType != null">
                #{pType,jdbcType=VARCHAR},
            </if>
            <if test="pTypeCode != null">
                #{pTypeCode,jdbcType=INTEGER},
            </if>
            <if test="pFindTime != null">
                #{pFindTime,jdbcType=DATE},
            </if>
            <if test="pPerson != null">
                #{pPerson,jdbcType=VARCHAR},
            </if>
            <if test="pResponsible != null">
                #{pResponsible,jdbcType=VARCHAR},
            </if>
            <if test="pPlanTime != null">
                #{pPlanTime,jdbcType=DATE},
            </if>
            <if test="pDescribe != null">
                #{pDescribe,jdbcType=VARCHAR},
            </if>
            <if test="pRemark != null">
                #{pRemark,jdbcType=VARCHAR},
            </if>
            <if test="pStatus != null">
                #{pStatus,jdbcType=VARCHAR},
            </if>
            <if test="pDeleteStatus != null">
                #{pDeleteStatus,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.xiedang.www.model.Problem">
        <!--
        @mbggenerated
        -->
        update problem
        set
        p_no = #{pNo,jdbcType=VARCHAR},
        p_type = #{pType,jdbcType=VARCHAR},
        p_title = #{pTitle,jdbcType=VARCHAR},
        p_type_code = #{pTypeCode,jdbcType=INTEGER},
        p_find_time = #{pFindTime,jdbcType=DATE},
        p_person = #{pPerson,jdbcType=VARCHAR},
        p_responsible = #{pResponsible,jdbcType=VARCHAR},
        p_plan_time = #{pPlanTime,jdbcType=DATE},
        p_describe = #{pDescribe,jdbcType=VARCHAR},
        p_remark = #{pRemark,jdbcType=VARCHAR},
        p_status = #{pStatus,jdbcType=VARCHAR},
        p_delete_status = #{pDeleteStatus,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.xiedang.www.vo.ProblemVo">
        <!--
        @mbggenerated
        -->
        update problem
        <set>
            <if test="pNo != null">
                p_no = #{pNo,jdbcType=VARCHAR},
            </if>
            <if test="pTitle != null">
                p_title = #{pTitle,jdbcType=VARCHAR},
            </if>
            <if test="pType != null">
                p_type = #{pType,jdbcType=VARCHAR},
            </if>
            <if test="pTypeCode != null">
                p_type_code = #{pTypeCode,jdbcType=INTEGER},
            </if>
            <if test="pFindTime != null">
                p_find_time = #{pFindTime,jdbcType=DATE},
            </if>
            <if test="pPerson != null">
                p_person = #{pPerson,jdbcType=VARCHAR},
            </if>
            <if test="pResponsible != null">
                p_responsible = #{pResponsible,jdbcType=VARCHAR},
            </if>
            <if test="pPlanTime != null">
                p_plan_time = #{pPlanTime,jdbcType=DATE},
            </if>
            <if test="pDescribe != null">
                p_describe = #{pDescribe,jdbcType=VARCHAR},
            </if>
            <if test="pRemark != null">
                p_remark = #{pRemark,jdbcType=VARCHAR},
            </if>
            <if test="pStatus != null">
                p_status = #{pStatus,jdbcType=VARCHAR},
            </if>
            <if test="pDeleteStatus != null">
                p_delete_status = #{pDeleteStatus,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

</mapper>