<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiedang.www.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.xiedang.www.model.User">
        <!--
        @mbggenerated
        -->
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
    </resultMap>
    <sql id="Base_Column_List">
        <!--
        @mbggenerated
        -->
        id, username, password
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--
        @mbggenerated
        -->
        select 
        <include refid="Base_Column_List" />
        from user
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--
        @mbggenerated
        -->
        delete from user
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.xiedang.www.model.User">
        <!--
        @mbggenerated
        -->
        insert into user (id, username, password
            )
        values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}
            )
    </insert>
    <insert id="insertSelective" parameterType="com.xiedang.www.model.User">
        <!--
        @mbggenerated
        -->
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.xiedang.www.model.User">
        <!--
        @mbggenerated
        -->
        update user
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.xiedang.www.model.User">
        <!--
        @mbggenerated
        -->
        update user
        set username = #{username,jdbcType=VARCHAR},
            password = #{password,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectByUsername" parameterType="com.xiedang.www.model.User" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from user
        where username=#{username}
    </select>

    <resultMap extends="BaseResultMap" id="BaseUserInfoResult" type="com.xiedang.www.bo.UserBo">
        <association javaType="com.xiedang.www.model.UserInfo" property="userInfo">
            <id column="ui_id" jdbcType="INTEGER" property="id" />
            <result column="name" jdbcType="VARCHAR" property="name" />
            <result column="sex" jdbcType="CHAR" property="sex" />
            <result column="phone" jdbcType="VARCHAR" property="phone" />
            <result column="address" jdbcType="VARCHAR" property="address" />
            <result column="birth_date" jdbcType="DATE" property="birthDate" />
            <result column="native_place" jdbcType="VARCHAR" property="nativePlace" />
        </association>
    </resultMap>
    <select id="selectAll" resultMap="BaseUserInfoResult">
        select
            u.id, username, password,
            ui.id ui_id, name, sex, phone, address, birth_date, native_place
        from user u
        INNER JOIN user_info ui
        ON u.id=ui.uid
        WHERE u.status=1 and ui.status=1
        ORDER BY u.id
    </select>

    <select id="queryUser" parameterType="com.xiedang.www.vo.UserVo" resultMap="BaseUserInfoResult">
        select
            u.id, username, password,
            ui.id ui_id, name, sex, phone, address, birth_date, native_place
        from user u
        INNER JOIN user_info ui
        ON u.id = ui.uid
        <where>
            <if test="username != null and username!=''">
                AND u.username = #{username,jdbcType=VARCHAR}
            </if>
            <if test="name != null and name!=''">
                AND ui.name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="nativePlace != null and nativePlace!=''">
                AND ui.native_place = #{nativePlace,jdbcType=VARCHAR}
            </if>
            <if test="phone != null and phone!=''">
                AND ui.phone = #{phone,jdbcType=VARCHAR}
            </if>
            <if test="sex != null and sex!=''">
                AND ui.sex = #{sex,jdbcType=VARCHAR}
            </if>
        </where>
        ORDER BY u.id
    </select>

    <select id="selectAllLoginInfo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        WHERE status=1
    </select>
</mapper>