<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiedang.www.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.xiedang.www.model.User">
        <!--
        @mbggenerated
        -->
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="status" jdbcType="INTEGER" property="status" />
    </resultMap>
    <resultMap extends="BaseResultMap" id="BaseUserInfoResult" type="com.xiedang.www.bo.UserBo">
        <association javaType="com.xiedang.www.model.UserInfo" property="userInfo">
            <id column="ui_id" jdbcType="INTEGER" property="id" />
            <result column="name" jdbcType="VARCHAR" property="name" />
            <result column="sex" jdbcType="CHAR" property="sex" />
            <result column="phone" jdbcType="VARCHAR" property="phone" />
            <result column="address" jdbcType="VARCHAR" property="address" />
            <result column="birth_date" jdbcType="DATE" property="birthDate" />
            <result column="native_place" jdbcType="VARCHAR" property="nativePlace" />
        </association>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
        @mbggenerated
        -->
        id, username, password, status
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseUserInfoResult">
        <!--
        @mbggenerated
        -->
        select 
        <include refid="Base_Column_List" />
        from user
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.util.List">
        <!--
        @mbggenerated
        -->
        delete from user
        where id in
        <foreach collection="array" item="item" index="index" open="(" close=")" separator=",">
            #{item,jdbcType=VARCHAR}
        </foreach>
    </delete>
    <insert id="insert" parameterType="com.xiedang.www.model.User">
        <!--
        @mbggenerated
        -->
        insert into user (id, username, password, 
            status)
        values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
            #{status,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.xiedang.www.vo.UserVo" useGeneratedKeys="true" keyProperty="uid">
        <!--
        @mbggenerated
        -->
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.xiedang.www.vo.UserVo">
        <!--
        @mbggenerated
        -->
        update user
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.xiedang.www.model.User">
        <!--
        @mbggenerated
        -->
        update user
        set username = #{username,jdbcType=VARCHAR},
            password = #{password,jdbcType=VARCHAR},
            status = #{status,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <insert id="batchInsert" keyProperty="id" parameterType="java.util.List" useGeneratedKeys="true">
        INSERT INTO user(username,password) VALUES
        <foreach collection="list" index="index" item="user" separator=",">
            (#{user.username},#{user.password})
        </foreach>
    </insert>
    <update id="batchUpdate" parameterType="java.util.List">
        UPDATE user SET
        username=
        CASE id
        <foreach close="end," collection="list" index="index" item="user">
             WHEN #{user.id} then  #{user.username}
        </foreach>
        password=
        CASE id
        <foreach close="end" collection="list" index="index" item="user">
            WHEN #{user.id} then  #{user.password}
        </foreach>
        where id in
        <foreach close=")" collection="list" index="index" item="user" open="(" separator=",">
            #{user.id}
        </foreach>
    </update>
    <select id="selectByUsername" parameterType="com.xiedang.www.model.User" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from user
        where username=#{username}
    </select>
    <select id="selectAll" resultMap="BaseUserInfoResult">
        select
            u.id, username, password,
            ui.id ui_id, name, sex, phone, address, birth_date, native_place
        from user u
        INNER JOIN user_info ui
        ON u.id=ui.uid
        WHERE u.status=1 and ui.status=1
        ORDER BY u.id
    </select>
    <!--分页查询-->
    <select id="queryUserByPage" parameterType="Map" resultMap="BaseUserInfoResult">
        select
        u.id, username, password,
        ui.id ui_id, name, sex, phone, address, birth_date, native_place
        from user u
        INNER JOIN user_info ui
        ON u.id=ui.uid
        WHERE u.status=1 and ui.status=1
        ORDER BY u.id
        LIMIT #{start,jdbcType=INTEGER},#{size,jdbcType=INTEGER}
    </select>

    <select id="queryUser" parameterType="com.xiedang.www.vo.UserVo" resultMap="BaseUserInfoResult">
        select
            u.id, username, password,
            ui.id ui_id, name, sex, phone, address, birth_date, native_place
        from user u
        INNER JOIN user_info ui
        ON u.id = ui.uid
        WHERE u.status=1 and ui.status=1
        <where>
            <if test="username != null and username!=''">
                AND u.username = #{username,jdbcType=VARCHAR}
            </if>
            <if test="name != null and name!=''">
                AND ui.name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="nativePlace != null and nativePlace!=''">
                AND ui.native_place = #{nativePlace,jdbcType=VARCHAR}
            </if>
            <if test="phone != null and phone!=''">
                AND ui.phone = #{phone,jdbcType=VARCHAR}
            </if>
            <if test="sex != null and sex!=''">
                AND ui.sex = #{sex,jdbcType=VARCHAR}
            </if>
        </where>
        ORDER BY u.id
    </select>

    <select id="selectAllLoginInfo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from user
        WHERE status=1
    </select>

    <insert id="insertInfoBatch" keyProperty="uid" parameterType="java.util.List" useGeneratedKeys="true">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <foreach collection="list" index="index" item="item" separator=",">
            <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">
                    #{id,jdbcType=INTEGER},
                </if>
                <if test="username != null">
                    #{username,jdbcType=VARCHAR},
                </if>
                <if test="password != null">
                    #{password,jdbcType=VARCHAR},
                </if>
                <if test="status != null">
                    #{status,jdbcType=INTEGER},
                </if>
            </trim>
        </foreach>
    </insert>

    <select id="selectUserByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        id, username, password
        from user
        LIMIT #{start,jdbcType=INTEGER},#{size,jdbcType=INTEGER}
    </select>
    <select id="getNameByUserName" parameterType="java.lang.String" resultType="java.lang.String">
        select name
        from user_info ui,user u
        where username = #{username,jdbcType=VARCHAR} and u.id = ui.uid
    </select>
</mapper>