body {
        margin: 0;
        }

        ul, li {
            list-style: none;
        }

        ul {
            padding: 0;
            margin: 0;
        }

        a {
            text-decoration: none;
            padding-left: 20px;
            display: inline-block;
            width: 120px;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        a:hover {
            text-decoration: none;
            background-color: #66512c;
            color: #ffffff;
        }

        .logo {
            float: left;
            width: 100%;
            height: 15%;
            color: #ffffff;
            position: relative;
            overflow: hidden;
            /*background: url(
        ${cp}  /img/logo.jpg) no-repeat;*/
            background-color: rgb(16, 40, 71);
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
        }

        .logo-title {
            font-size: 30px;
            margin-left: 50px;
            margin-top: 30px;
        }

        .time {
            position: absolute;
            bottom: 2px;
            right: 300px;
        }

        .user {
            position: absolute;
            bottom: 2px;
            right: 150px;
        }

        .dropdown {
            position: relative;
            display: inline-block;
            margin-top: -20px;
            margin-left: 90%;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #dddddd;
            min-width: 160px;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            padding: 5px 10px;
            z-index: 1;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .navigation {
            width: 130px;
            height: 80%;
            color: yellow;
            font-size: 18px;
            border-right: 10px solid #dddddd;
            float: right;
        }

        /*设置一级菜单*/
        .nav-li a {
            color: #0f0f0f;
        }

        /*设置二级菜单*/
        .nav-li li a {
            color: #0f0f0f;
        }

        /*将二级菜单隐藏*/
        .nav-li ul {
            padding-left: 10px;
            display: none;
        }

        .inputFormation {
            padding-top: 20px;
            padding-left: 5px;
            width: 100%;
            height: 80px;
            border-bottom: 10px solid #dddddd;
        }
